{
  "env": {
    "test": {},
    "development": {
      "ignore": [
        "**/*.test.js",
        "**/__mocks__"
      ]
    },
    "production": {
      "ignore": [
        "**/*.test.js",
        "**/__mocks__"
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": true
      }
    }],
    "@babel/preset-flow"
  ]
}
